body {
    font-family:'Times New Roman', Times, serif;
    background-color: #0e2041;
}
h1 {
    text-align: center;
    color: azure;
}
h2 {
    text-align: center;
    color: azure;
    margin-bottom: 30px;
}
table {
    background-color: #7fa1e0;
    margin-left: 280px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 60%;
}
#form1 {
    color: white;
    background-color: #567db8;
    width: 60%;
    margin-left: 280px;

}
#form2 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    background-color: #567db8;
    width: 60%;
    margin-left: 280px;
}
input {
    border-radius: 5px;
}
.boton {
    background-color: #244a9c;
    border-color: #244a9c;
    color: white;
}
thead, tfoot {
    background-color: #244a9c;
    color: white
}
tbody{
    color: white;
}
p {
    color: azure;
}
img {
    width: 100px;
    margin-left:100px;
    margin-top: 15px;
    margin-bottom: 5px;
}